# Load all Stock data from CSV

In [1]:
#Load Dependancies
import pandas as pd
import os
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy import func


import warnings
warnings.filterwarnings('ignore')

In [2]:
#file to load

all_stocks_5yr_to_load = "Resources/all_stocks_5yr.csv"

#Read the csv file

all_stocks_5yr_df = pd.read_csv(all_stocks_5yr_to_load)
all_stocks_5yr_df.head()

         date   open   high    low  close    volume Name
0  2013-02-08  15.07  15.12  14.63  14.75   8407500  AAL
1  2013-02-11  14.89  15.01  14.26  14.46   8882000  AAL
2  2013-02-12  14.45  14.51  14.10  14.27   8126000  AAL
3  2013-02-13  14.30  14.94  14.25  14.66  10259500  AAL
4  2013-02-14  14.94  14.96  13.16  13.99  31879900  AAL

In [3]:
rds_connection_string = "root:121212nJ@127.0.0.1/stocks_db"
engine = create_engine(f'mysql+pymysql://{rds_connection_string}')

In [4]:
engine.table_names()

['all_stocks_5yr',
 'companylist_nasdq',
 'companylist_nyse',
 'industry_analysis']

In [ ]:
#Load Dataframe into database
all_stocks_5yr_df.to_sql(name='all_stocks_5yr', con=engine, if_exists='append', index=False)

In [ ]:
#Confirm load
pd.read_sql_query('select * from all_stocks_5yr', con=engine).head()